[2021-03-25 18:56] shruog opened #1 "No Such Exports startPlayerCustomization"
I just downloaded the latest version of the script and I'm getting this error what can it be?

![image](https://user-images.githubusercontent.com/63626404/112528151-8e718000-8d82-11eb-97f5-4a592ab607a2.png)

[2021-03-26 14:48] Davenport-Physics opened #2 "1.1.0 version has SyntaxError in build script. Does not show customization screen."
![image](https://user-images.githubusercontent.com/1410579/112649025-1190e580-8e18-11eb-99cd-987724379ead.png)

Customization screen does not show up in the left.

![image](https://user-images.githubusercontent.com/1410579/112649088-1f466b00-8e18-11eb-8373-a30b844970a3.png)

in my server.cfg
[code]

The code I'm using to call this

[code]

[2021-03-26 14:51] Davenport-Physics commented on #2
I have no issue with the 1.0 build, but of course, that one is missing config.

[2021-03-27 00:11] snakewiz commented on #2
I had no success trying to reproduce your issue on my end. Looks like it's something related to parsing the locales file? Try to add this line into your config, before ensuring the resource.
[code]

[2021-03-27 00:16] snakewiz commented on #1
Hi, I wasn't able to reproduce your issue on my end. Could be something related to resource start order, always start the resource that is consuming the exports after the one that register the export. Also, make sure that the resource's name is correct, sometimes you could have renamed the fivem-appearance folder and have not updated the code.

[2021-03-27 16:00] Davenport-Physics commented on #2
Alright. I had that line before, it didn't quite make a difference on my end.

Adding that line once more, doesn't clear up the syntax issue nor the issue with the interface being gone.

[code]

Not sure what's going on.

[2021-03-27 16:23] Davenport-Physics commented on #2
I've cleared server and client cache, which didn't help. I've switched the fivem build from stable to canary, no dice there.

Exports are working fine, just no interface. I've had other clients report the same issue.

[2021-03-27 20:31] #2 closed

[2021-03-28 21:39] JoeriAben commented on #1
You need to run the `yarn build:game` command or if you wanna use the UI aswell `yarn build`. Then the export will be available

[2021-04-05 16:16] snakewiz commented on #1
I'll be closing the issue since no one reported the same problem, and there was no new movement in the last few days.

[2021-04-05 16:16] #1 closed

[2021-04-14 12:12] Nevos08 opened #4 "JSON error"
This is the console output:
`Uncaught (in promise) SyntaxError: Unexpected end of JSON input (@fivem-appearance/ui/build/static/js/main.53ee5267.chunk.js:1)`

[2021-04-14 13:44] Davenport-Physics commented on #4
I had the same issue since v1.1

The only workaround I've found, is to restart the resource while the server is up :shrug:

[2021-04-14 14:23] Nevos08 commented on #4
Thanks will try :D

[2021-04-14 16:51] TheAimWolf commented on #1
Hey, sorry but I have the same problem. I tryed to rebuild the project. But Yarn says:

`00h00m00s 0/0: : ERROR: [Errno 2] No such file or directory: 'build'`

when I try to run:

`yarn build`

inside of the main directory of the script. Also I don't really get what the docs are saying about ConVars. It says that I have to write

`setr fivem-appearance:customization 1
ensure fivem-appearance`

in

[2021-04-14 17:03] JoeriAben commented on #1
It is `yarn run build`

[2021-04-14 17:27] TheAimWolf commented on #1
Ok so I figured some things out: Yarn is working better on Windows then on Linux and you shouldn't build things in vs code. Now the project trys to build, but I get a build failure. The log is so long that I can't paste it in completly, but the beginning looks like this:
`yarn run v1.22.10
$ yarn build:game && yarn build:ui
$ cd typescript && yarn && yarn build
info No lockfile found.
[1/4] Resolv

[2021-04-14 17:53] snakewiz commented on #4
Hi, thanks for the feedback. I need the actual steps to reproduce this issue before I can fix it, if you could provide me that, it would be of great help.

[2021-04-14 18:41] Nevos08 commented on #4
I just downloaded the script from master (no release!), removed bodyArmor from the menu and then compiled it.

[2021-04-14 23:12] snakewiz commented on #4
I mean in-game steps.

[2021-04-15 11:55] Nevos08 commented on #4
The error came when the script started. it didnt work to open the menu via exports

[2021-04-16 16:28] computergeek3k commented on #4
can confirm fresh download of the precompiled resource, I dropped it in game start the resource and once in game hit f8 which displayed the above error

[2021-04-19 15:07] Nevos08 commented on #4
Any fix atm?

[2021-04-23 23:52] morpheause commented on #4
![image](https://user-images.githubusercontent.com/54166713/115939821-12b14300-a4a8-11eb-83fe-df98b1d4e2e1.png)

[2021-04-27 23:51] snakewiz commented on #4
Sorry for the delay, the last few weeks have been very busy. This error is caused by not loading the UI files when fivem-appearance:customization conVar isn't set to 1.

This shouldn't cause any problems if you're just trying to use the appearance exports.

If you want to use the customization feature you need to add the following to your server .cfg file.

[code]

[2021-04-28 15:49] Nevos08 commented on #4
I think I did that. I will retry with the newest release

[2021-04-28 15:55] Nevos08 commented on #4
Im getting an error now when building the project. Its something with prettier.

Something like this:
![Screenshot 2021-04-28 175525](https://user-images.githubusercontent.com/54755752/116434688-ecdec200-a84a-11eb-9313-92030bec183a.png)

[2021-05-05 09:04] RockySouthpaw commented on #4
Figured I would provide some additional information as I also have this issue.

`Server.cfg` is as such:
[code]
Release Version: `1.12` (Latest from release tab.)

With nothing triggering the export what so ever, I get the same error as mentioned previously:
![image](https://user-images.githubusercontent.com/55056068/117118930-60a73000-ad5f-11eb-9110-3971536dd62d.png)
This requires the resource to

[2021-05-05 21:39] snakewiz commented on #4
Fixed on 68b60e0b74af24bcb5abad47469496763d2fd4f6, I'm sorry that this took so long. The UI page was getting loaded even if the convar was set to 0 because 0 is not a falsy value in Lua. Thanks to everyone that reported the issue.

[2021-05-05 21:39] #4 closed

[2021-05-06 18:04] avery1227 opened #8 "startPlayerCustomization Export"
Hello,

First off I want to say this is an amazing released and to keep up the good work.

Secondly, I do have an issue currently.

When a player connects to the server and Triggers the startPlayerCustomization (Trigged From a Menu after they are loaded in) It sometimes will throw them into NUI Focus (cursor) but no UI will render.

I am running the newest version of the resource (several hours ag

[2021-05-06 18:06] avery1227 commented on #8
Details I forgot:

It does set the camera to be in-front just the UI will not render in unless I restart the script after the player is already loaded in.

[2021-05-06 18:11] avery1227 commented on #8
**Video:** https://files.cadojrp.com/194tlmXTEvdR.mp4

[2021-05-06 23:03] avery1227 commented on #8
Now that I'm home I was able to pinpoint this:

[code]

Line 3 is what piqued my interest. It only seems to happen on player connecting not resource starting when already connected.

[2021-05-06 23:06] avery1227 commented on #8
Could it possibly be related to?

https://github.com/snakewiz/fivem-appearance/blob/a13625b9181cf0cb228d5a7af70cd666b2194efd/typescript/src/client/index.ts#L19

[2021-05-07 02:40] TzProwebyKS commented on #8
I have the same problem but if I add Wait(5000) or Citizen.Wait(5000) before calling startPlayerCustomization it works fine!

[2021-05-08 03:32] RockySouthpaw commented on #8
I personally dont have the export error but i also have the UI not rendering same as you.

It's most likely related to the json erro though as I have that too:
![FiveM_b2060_GTAProcess_1Ffsykfb4p](https://user-images.githubusercontent.com/55056068/117524706-82392f00-af8c-11eb-8bdc-9c0d057eea7b.png)

[2021-05-12 17:05] RockySouthpaw commented on #8
I assume you have the convars set in your server.cfg

[2021-05-12 17:07] avery1227 commented on #8
The convars were set before ensuring the script in the CFG

[2021-05-13 06:09] omeking2013 opened #9 "Unexpected end of JSON input"
![problem](https://user-images.githubusercontent.com/53650937/118085313-67cbdf00-b3ec-11eb-8d52-fa61c155a2fa.jpg)

Error when join the server and ui wont appear how to fix?? (1.1.0 version)

[2021-05-15 13:16] MintKind commented on #9
Starting it the resource last solved this for me. Had it starting as very first before tho.

[2021-05-16 00:12] RockySouthpaw commented on #8
@avery1227 Just to confirm, you downloaded from the release tab correct? Or did you manually build it?

[2021-05-18 20:31] mufty commented on #9
Can confirm starting it last does help... otherwise same issue.

The modules I was starting after this one are:
start dpemotes
start RealisticVehicleFailure
start fh4speed

Just for context maybe they are in conflict.

[2021-05-19 02:02] RockySouthpaw commented on #9
After asking someone about it they told me:

[code]

Not sure if the fix would require a rework of the existing system but I don’t think starting the resource last is a reliable workaround tbh.

Here’s a screenshot of the dev tools:

![](https://media.discordapp.net/attachments/795438488610537552/840432434944540752/unknown.png)

[2021-05-19 08:34] mufty commented on #9
Yeah I just got the error even when starting it last

[2021-05-19 16:43] Alessio-WAY commented on #9
Same here

[2021-05-19 20:24] Nevos08 opened #10 "prettier errors"
Hello :D

If I compile the script, I always get some errors from prettier, saying he cant replace or insert something. Could you please remove prettier or fix these issues? i really want to use this ui but I need to do some changes

[2021-05-25 15:47] #10 closed

[2021-06-03 12:17] Trsak commented on #1
Hey @TheAimWolf, did you manage to fix issue with build? Having same errors

[2021-06-03 15:01] TheAimWolf commented on #1
Nope. I gave up, after I tried to build it on diffrent operating systems and building envoirments. I always get the same errors. Maybe the builder of this project can tell us what they use to successfully build this project, or give us some advice how to build it properly. If this would work, it would be one of the best char creators i saw.

[2021-06-04 02:23] TzProwebyKS commented on #9
in resources.cfg

add start fivem-appearance
restart fivem-appearance

the error will go away

[2021-06-05 02:54] Cyntaax commented on #8
I actually experienced this myself, I fixed it by moving the entire `init()` function to just global context rather than running it on script start.

I remembered there was something weird about exports and them having to be run on the first tick and made me give it a try. works like a charm now.

[2021-06-05 04:17] ElSeba0811 commented on #9
I have also tried this but is not working, also tried putting the resource last and restart it, also doesnt work

[2021-06-05 21:20] ElSeba0811 commented on #8
can you show how and where you did it?

[2021-06-09 19:45] ZiggyJoJo commented on #9
Did anyone ever manage to fix this error?

[2021-06-09 20:14] mufty commented on #9
I didn't for the moment I'm using this resource and starting it last that works most of the time while it still can crash sometimes. So I just need to watch out when starting the server for that. If what has been said here is true it's an easy fix tho just didn't have time myself to try to look into it and fix it for real.

[2021-06-09 21:06] ZiggyJoJo commented on #9
Yeah I tried that but it didn't work I mostly work with lua not js or HTML so I was hoping someone had an example of how that fix should be done otherwise I'm probably gonna spend the next few days banging my head against a wall till I figure it out

[2021-06-10 03:23] snakewiz commented on #9
How I'm not able to reproduce this? I'm joining the server with the resource already running.

server.cfg

[code]

test resource

[code]

[2021-06-10 03:44] ZiggyJoJo commented on #9
`setr fivem-appearance:locale "en"
ensure fivem-appearance`

`RegisterCommand('customization', function()
	local config = {
		ped = true,
		headBlend = true,
		faceFeatures = true,
		headOverlays = true,
		components = true,
		props = true
	}

	Citizen.Wait(1000)

	exports['fivem-appearance']:startPlayerCustomization(function (appearance)
		if (appearance) then
			TriggerServerEvent('fivem-appeara

[2021-06-12 12:00] mufty opened #11 "Unable to set -1 as min value for components"
I'd like to be able to change the min/max values so that I can have -1 for components meaning I can do a topless guy for example. It seems that changing the values in settings.ts doesn't work as the min value I can enter is still 0 for the components.

This is my components section from the settings.ts:

components: [
    { component_id: 0, drawable: { min: -1, max: 255 }, texture: { min: 0, max:

[2021-06-15 15:28] Cyntaax commented on #8
Sorry, it took so long, have a look at my pr: https://github.com/snakewiz/fivem-appearance/pull/12

[2021-06-24 06:38] CyanFlare commented on #8
This worked for me thanks!

[2021-07-02 03:29] pedr0fontoura commented on #11
These changes are not supposed to work.

The -1 value for props is just an "alias" for the [ClearPedProp ](https://docs.fivem.net/natives/?_0x0943E5B8E078E76E) native since there's no other way to remove some of the props. For components, you would need to hardcode the "no component" drawable id for each component.

I'll be closing this issue as the described problem is not an actual problem, but

[2021-07-02 03:29] #11 closed

[2021-07-02 03:32] pedr0fontoura commented on #9
Is this fixed after c7458d259633b7fbc31d2d098b13ef0d07ed5829?

[2021-07-02 06:39] mufty commented on #8
yeah it works now thanks

[2021-07-02 07:26] pedr0fontoura commented on #8
Fixed on the latest release. Thanks @Cyntaax

[2021-07-02 07:26] #8 closed

[2021-07-06 14:56] #9 closed

[2021-07-28 04:45] ZiggyJoJo opened #15 "Error when trying to turn around your character"
No ones posted it yet but I've noticed a few other people mention having this issue since the last release if you try to use the button to turn around your character they don't move and you get this error
https://i.imgur.com/cJA5h4n.png

[2021-07-30 12:45] dunak-debug commented on #15
can reproduce

[2021-08-01 15:04] dunak-debug commented on #15
fixed in https://github.com/pedr0fontoura/fivem-appearance/commit/af0d1874526e21f8f4e16802d41d86a8d12ddbc9

[2021-08-02 22:20] #15 closed

[2021-08-03 14:01] franfdezmorales commented on #10
Hey @ghost how did u manage the errors with prettiers?

[2021-08-09 05:29] KingMascotte opened #17 "setPlayerAppearance export with kvs"
Hi there!

I'm trying to use the setPlayerAppearance export with FiveM's internal kvs. Saving to the database is fine but trying to set the player appearance after spawn isn't proving effective..

Event to save the skin:

[code]

Function to retrieve the skin:

[code]

I'm using this handler:

`AddEventHandler('playerSpawned', function()`

To trigger the server event that gets the saved data and u

[2021-08-09 05:39] #17 closed

[2021-09-02 12:04] deenz-dev opened #18 "Some problems trying to build it."
Thats my problem im for sure, i was wondering if you can release it already buildt, i would aprecciate it so much, thanks <3

[2021-09-03 12:42] auraroleplay commented on #18
same here. Prettier errors are spamming. Cant build

[2021-09-03 14:32] pedr0fontoura commented on #18
Can you check after 214f950 ?

[2021-09-03 18:02] auraroleplay commented on #18
Build working for me. But second button for camera is still not reseting camera angle. There is no error this time.

[2021-09-03 22:19] pedr0fontoura commented on #18
Since the building problem is fixed, i'll close this issue.

@auraroleplay please open another issue with more details if possible.

[2021-09-03 22:19] #18 closed

[2021-09-04 16:56] gunsela92 opened #20 "Camera reset button still not working"
Can be closed

[2021-09-05 13:13] #20 closed

[2021-09-19 17:06] jxckUK opened #21 "Extended configuration options"
Really like the customisation configuration that can be passed through but it would be handy to extend this to also include:

- The ability to remove the 'x' option, for example for a character creation where its mandatory?
- The ability to filter just the hair options rather than all the facial assets
- The ability to disable individually the camera options so we can disable for example, camera r

[2021-09-20 19:57] CyanFlare opened #22 "tattoos"
Hello, I was wondering when tattoos will be added to fivem-appearence. I've seen it on the to-do list on the cfx.re post for a while now and was curious on when it will be implemented. Would be nice to have all character customizations in one place instead of a different menu just for tattoos.

Thanks.

[2021-09-20 21:48] ansljeremy commented on #22
This is the one thing that is stopping me from swapping my server to this

[2021-09-28 11:43] gunsela92 opened #23 "Disable shadows on hairs ?"
Hi there. When selecting some hairs, script adds shadows on them. How to disable this ?

![image](https://user-images.githubusercontent.com/35037442/135080283-773db376-3001-4c83-ade3-ef700b837d77.png)

[2021-09-30 16:11] gunsela92 commented on #23
Can be closed. Happening because of constants.ts

[2021-09-30 16:11] #23 closed

[2021-10-26 18:56] Filipe0071 opened #24 "Add blacklisted"
add blacklist like this https://github.com/PainedPsyche/cui_character/blob/dev/client/blacklist.lua

[2021-11-13 11:46] wolvherin78 opened #25 "Rotation issue"
https://forum.cfx.re/uploads/default/original/4X/9/1/0/910719f26a7ba98a64f544aa24e5b4ffd77b15d7.jpeg

The rotation button does not work

[2021-12-14 18:51] ZON4ME opened #26 "No client export works, only setPlayerAppearance."
Hi there, I was having a problem since two days or more. The problem start when I try to execute a _client exports_ function, for example the **setPedComponents** and the **getPedComponents** well saved in the SQL.  When I start the command it throw me this console error, [Gyazo Error](https://gyazo.com/cacdcd59ff629068d67823b0bd4da364) .
If anyones knows the error tell me please my head is going

[2021-12-14 20:22] ZON4ME commented on #26
I actually found the error.

[2021-12-14 20:22] #26 closed

[2022-01-10 11:27] dernathan opened #27 "Job clothes"
Changing outfit in jobs for example police and ambulance doesnt work. Whats the implementation to those to make it work ?

[2022-01-15 01:14] Sauzzie opened #28 "Loss of Armor"
Armor is removed after exiting store

[2022-01-15 01:14] Sauzzie commented on #28
only when you exit by cancelling

[2022-01-18 21:33] alexanderbodnar opened #29 "Attempt to index a nil value (global 'JSON')"
![image](https://user-images.githubusercontent.com/62212268/150022175-898e6270-5bb3-49d7-bfcf-e771bbcc315e.png)

[2022-01-20 00:22] vicciusomerta commented on #27
We have to use the exports but i have no clue what i actually need to replace...i've tried couple of things but no luck

For example my taxi job cloack :
------------------------------------------------------------------------------------------------------------------------------
function OpenCloakroom()
	ESX.UI.Menu.CloseAll()

	ESX.UI.Menu.Open('default', GetCurrentResourceName(), 'taxi_cloakroo

[2022-01-20 09:01] #29 closed

[2022-02-08 08:00] Sachus13 commented on #27
even i want the same answer

[2022-02-11 04:10] DistrictZion commented on #22
Still waiting...

[2022-03-01 19:06] vandamisko opened #30 "pd clothes"
Hello how to remove this pd locker room
![image](https://user-images.githubusercontent.com/90938485/156232601-d9f97372-1a6e-41f8-be5f-1dd157aeaaff.png)

[2022-04-07 06:21] AleeDeveloper opened #31 "payment system when using the store"
Hello, I would like to know if there is any way to make fivem-appearance use a system of charging players when entering the change of clothes, is it possible?

[2022-04-09 10:48] Donnnnnnnnnnnnn opened #32 "Health reset"
its health will be reset after you close menu ?
or just for me ?

[2022-04-09 10:50] Donnnnnnnnnnnnn commented on #28
issue resolved? can you tell me how?

[2022-04-19 18:58] franfdezmorales commented on #22
Im currently working on this, on few days will be released 👍

[2022-04-19 20:17] #32 closed

[2022-04-19 20:22] franfdezmorales commented on #28
This must be fixed too on #33 @pedr0fontoura, if you could close. Ty!

[2022-04-19 20:24] #28 closed

[2022-04-25 20:29] franfdezmorales commented on #22
Finally i have enough time to almost finish this feature, btw its not finished 100%, in few days i will pr the full feature. Currently waiting to get an approval of #34.
[Video of current work](https://streamable.com/z8ceh5).

[2022-04-26 00:16] ansljeremy commented on #22
@franfdezmorales Honestly I would just PR https://github.com/ihyajb/aj-fivem-appearance since it's more alive

[2022-04-26 06:52] franfdezmorales commented on #22
@ansljeremy I think the pr need to be done here since its the standalone and principal recourse, others are forks.

[2022-04-26 19:01] franfdezmorales commented on #22
Currently finished this feature, here a video of how tattoos work with fivem-appearance: https://streamable.com/04zqto

[2022-04-29 12:14] waseem-h opened #36 "Hair Bugged when switching Hands"
When changing appearance of peds, the hair gets bugged and they disappear. The only way to fix it is to switch to some other ped and then choose the older ped again. But this means that I can't swap clothes on peds. Here's a demo: https://streamable.com/d2imfj
I'm using the latest commit build

[2022-04-29 13:16] franfdezmorales commented on #36
Hi! Tried with latest build release (1.2.1) and happens the same, im gonna check if its a script error or just a fivem/gta bug on latests artifacts.
Demo testing: https://streamable.com/u92f5c

Could you tell me what artifacts are you using?

Ty in advance.

[2022-04-29 19:39] waseem-h commented on #36
I'm using FXServer build: 5483
Doesn't look like a GTA bug since I can switch clothes using vMenu just fine

[2022-04-29 20:10] Kekk0x opened #37 "ROTATION ISSUE BUG"
https://forum.cfx.re/uploads/default/original/4X/9/1/0/910719f26a7ba98a64f544aa24e5b4ffd77b15d7.jpeg

The rotation button does not work

[2022-04-30 05:26] waseem-h commented on #36
@franfdezmorales So I think I found out where the issue is. The above behavior does not happen if:
- Open customization
- You switch the ped
- Save customization
- Open customization again
- Change components

So it only happens when you change the ped and start changing the components right away. This could mean that something is either wrong when switching to the ped (it doesn't get set properly

[2022-05-02 14:49] franfdezmorales commented on #36
Hello, on these days i will review this issue. Ty for ur research!

[2022-05-02 14:50] franfdezmorales commented on #37
Hello, could you provide some steps to reproduce the bug? Thank you.

[2022-05-03 08:11] lush0n3 opened #39 "add hair variation two"
### **On my server I use modified hairstyles and sometimes the original hair overlaps.**

**example:**
![image](https://user-images.githubusercontent.com/87586904/166421839-b31b62e1-f075-418c-b485-129a33a27cfa.png)

**and it should actually look like this.**
![image](https://user-images.githubusercontent.com/87586904/166422058-561989fe-57b8-495e-a390-b438d5014246.png)

**I can give you more inform

[2022-05-05 22:15] Senlar opened #40 "Makeup secondary colors"
Females have noticed the secondary makeup colors are not customizable in this menu. They say it appears the secondary color is defaulting to some shade of pink. Please consider adding secondary color to makeup options.

[2022-05-06 17:22] franfdezmorales commented on #22
Feature added! #35 🥳

[2022-05-06 17:27] franfdezmorales commented on #40
Hey @Senlar, could you attach some pics or videos replicating the error? Ty in advance!

[2022-05-06 17:31] franfdezmorales commented on #39
Currently working on this!

[2022-05-06 22:18] Senlar commented on #40
Of course, here is what I was provided @franfdezmorales
https://medal.tv/games/gta-v/clips/k9vHb53VTxSgw/d1337u7NmDAE?invite=cr-MSxvamIsMjIxNjIwNzks

Pretty much the make up section doesn't have an option to change the secondary color, and for whatever reason it is defaulting to pink. I even friend changing my blush and lipstick color to see if maybe those would fix anything.

[2022-05-06 22:53] franfdezmorales commented on #39
Currently finished, here a preview:

https://user-images.githubusercontent.com/47320936/167225661-be961c76-3ca8-4110-837c-1a176dfe1bbe.mp4

[2022-05-07 20:31] CENSOR1337 commented on #31
You can use those exports to desire your need.
https://github.com/pedr0fontoura/fivem-appearance#client-exports

[2022-05-09 21:31] lush0n3 commented on #39
Perfect, when will you compile a new version to use it?

[2022-05-10 06:15] franfdezmorales commented on #39
@lush0n3 I dont know, i need to get approved another pr, then it should be available.

[2022-05-10 06:40] lush0n3 commented on #39
Perfect, thank you very much, thank you for your time and work.

[2022-05-10 06:40] #39 closed

[2022-05-11 13:22] #24 closed

[2022-05-13 19:40] Loc0 opened #43 "undefined outfit save"
When you press "save outfit" and hit esc, then go to your saved outfits, theres an option thats "undefined"
![image](https://user-images.githubusercontent.com/43757529/168378305-0d4f7abb-2979-4585-8e25-df4d04ea28c2.png)

[2022-05-13 19:40] Loc0 commented on #43
![image](https://user-images.githubusercontent.com/43757529/168378367-42a6425d-5b49-434b-a036-04038b8bd8d9.png)

[2022-05-13 20:19] franfdezmorales commented on #43
Hey, i think you are using a different resource, currently there arent any feature about "saved outfits".

[2022-05-15 01:38] Loc0 commented on #43
I literally downloaded the latest update and replaced the old one?

[2022-05-15 06:32] franfdezmorales commented on #43
The error is on some .lua file, this is entirely written on typescript, if an error occurs will be printed on a .js file. Probably you download from another site or other resource with the same name.

[2022-05-22 03:46] chunce01 opened #45 "input sanitization"
Need to limit the amount of 0's that can be input on range values to prevent resource crashing.

[2022-05-23 08:09] Wopskinoo opened #46 "When You Leave And Join It Resets Your skin"
so the menu itself is working fine but for some reason when you fly in and out it resets you back to a ped and you have to remake your player help asap

[2022-05-23 14:26] franfdezmorales commented on #46
Hey, this resource only provides the way to customize your character but you will need to work with the exports to make the ped skin persistent.

[2022-05-23 14:26] franfdezmorales commented on #45
Hey, could you provide some media about the error?

[2022-05-23 15:53] chunce01 commented on #45
Actually, feel free to close this ticket out, I cannot seem to reproduce it. However, what I did previously was if you filled the range field with too many 0's it would break the clothing menu UI.
![image](https://user-images.githubusercontent.com/26256782/169858909-653cd3db-207d-43e3-aa88-7aa8d5f6e2e5.png)

[2022-05-23 19:52] Wopskinoo commented on #46
Do you have one that’s setup already? I want to use that menu as my main menu but idk how to fix it or could you explain it

[2022-05-24 06:15] franfdezmorales commented on #46
Hello, you will need to use the getters exports to receive all the data clothes, then you will need to save on database. When a player join into your server, you will need to get the data from database, then use the setters exports to change the outfit of your character.

[2022-05-24 08:35] Wopskinoo commented on #46
Walk through maybe?

[2022-05-28 23:22] OneWayRP opened #47 "Outfit system ?"
Have you plan any outfit system @pedr0fontoura ? :D

[2022-06-06 06:11] franfdezmorales commented on #46
There are a lot of variables to do a correct walk through, btw, you can ask whatever you need to know to get your objectives.

[2022-06-06 06:13] franfdezmorales commented on #37
Hey, PR #41 must fix this. :P

[2022-06-06 06:14] franfdezmorales commented on #25
Hey, PR #41 must fix this :P

[2022-06-06 06:16] franfdezmorales commented on #45
Hey, i will take a look into this in the next few days, tried many times but still cannot reproduce the error. :(

[2022-06-09 07:36] #22 closed

[2022-06-09 07:36] #25 closed

[2022-06-09 07:37] #37 closed

[2022-06-13 11:06] franfdezmorales commented on #47
Currently working on it! :)

[2022-06-14 06:24] #40 closed

[2022-06-14 06:25] franfdezmorales commented on #40
Fixed on #54, ty @YisusOnDev!

[2022-06-15 15:39] s0u007 opened #55 "Issue"
Hi how can i use setPedComponent ? I have this code:

	local playerPed = PlayerPedId()
	local cos1 = '[{"drawable":6,"component_id":4,"texture":0}]'
	local cos = exports['fivem-appearance']:setPedComponent(playerPed, cos1)

	exports['fivem-appearance']:setPedComponent(playerPed, cos1 )
	print(cos)

and I am getting print saying nil

also how can I update my version with lua files ?

[2022-06-15 16:08] franfdezmorales commented on #55
Hey! You need to pass and object, not an array with a object. The set function is a void so doesnt return anything. If you need to make this code works, try this:
[code]
I dont understand the question "also how can I update my version with lua files ?", could you explain a bit more?
Really ty!

[2022-06-15 16:26] s0u007 commented on #55
That's a lot it is working. Explaing I have and older verios without tattos and stuff. I downlowded it from some with ready lua files and now I want to update this script without making lua part again. I want to get the tattoo option the most

[2022-06-15 16:33] franfdezmorales commented on #55
If you have downloaded from another site, its hard to make it work with current version of this script.
I recommend that you download the current version [(1.3.1)](https://github.com/pedr0fontoura/fivem-appearance/releases/tag/v1.3.1).

[2022-06-15 16:39] s0u007 commented on #55
So waht should I do now, because I don't start again with lua files

[2022-06-15 16:45] franfdezmorales commented on #55
If you want to **use** this script, you just need to use the exports, dont worry about languages,  it will work on `lua`, `ts`, `js`, `c#` files. If you have other version, you could replace with [this](https://github.com/pedr0fontoura/fivem-appearance/releases/tag/v1.3.1).
If you want to **modify** this script, then you will need to download the source, and make your modifications.

[2022-06-15 16:56] #55 closed

[2022-06-16 08:34] DokaDoka opened #56 "new zip release"
could a new release be put out in .zip format?

txadmin cannot process .rar files so I can't use it in a recipe

presumably this will work with the new workflow stuff

[2022-06-19 00:54] s0u007 opened #58 "setComponets problem"
Hi it is me one more time can you help me with this issue ?
exports['fivem-appearance']:setPedAppearance(PlayerPedId(), {texture=0,drawable=0,component_id=0},{texture=0,drawable=0,component_id=1},{texture=0,drawable=0,component_id=2},{texture=0,drawable=15,component_id=3},{texture=0,drawable=14,component_id=4},{texture=0,drawable=0,component_id=5},{texture=0,drawable=5,component_id=6},{texture=0,d

[2022-06-20 21:04] DarinBeard opened #59 "appearance cutoff"
When I expand the appearance section it can scroll down to the very top of Moles and Freckles and the rest is cut off. Anyone else have that problem?

[2022-06-20 21:05] DarinBeard commented on #59
![image](https://user-images.githubusercontent.com/793744/174677552-0f28a756-e466-4206-b7b7-119a64cdb8bb.png)

[2022-06-20 21:40] DarinBeard opened #60 "turn around error"
getting an error when the turn around button is clicked

SCRIPT ERROR in event `__cfx_nui:appearance_turn_around': TypeError: OpenSequenceTask is not a function or its return value is not iterable
@fivem-appearance/typescript/build/client.js:1
@fivem-appearance/typescript/build/client.js:1

[2022-06-21 06:33] franfdezmorales commented on #60
Hey @DarinBeard, could you pls provide more info about the error?

- When happens?
- It happens every time or sometimes?
- What happens on game when the error is triggered?

[2022-06-21 06:34] franfdezmorales commented on #59
Hey @DarinBeard, try to use tab when that happens, will probably fix it.

[2022-06-21 06:40] franfdezmorales commented on #58
Hey @s0u007, the function expects only two parameters, the ped id and the PedAppearance object that must include all these keys:
 - model: string;
 - components: PedComponent[];
 - props: PedProp[];
 - headBlend: PedHeadBlend;
 - faceFeatures: PedFaceFeatures;
 - headOverlays: PedHeadOverlays;
 - hair: PedHair;
 - eyeColor: number;
 - tattoos: TattooList;

You need to change your seconds parameter

[2022-06-21 15:09] DarinBeard commented on #60
it happens when the turn around button is clicked.

it's happens every time.

I click the button, the error message hits the console and the button just untoggles itself with nothing happening at all. If I click the rotate buttons the camera then spins around behind the character like it thinks it did the spin already. Clicking it again and clicking the rotate takes it back to the front like it is

[2022-06-21 15:16] DarinBeard opened #61 "ui error on load causes menu to not show"
Sometimes, (maybe 1 out of 5 times) when the resource is started, it throws an error and the menu will not show. The resource has to be restarted before it will show. see video for demo.

error: Uncaught (in promise) SyntaxError: Unexpected end of JSON input (@fivem-appearance/ui/build/index.html:1)

[2022-06-21 15:17] DarinBeard commented on #61
video didn't upload correctly.

https://user-images.githubusercontent.com/793744/174836049-f0ed7f02-2a90-44cb-bbfa-f88015b06598.mp4

[2022-06-21 16:11] DarinBeard commented on #59
Ya, if I click on the Mole and Freckles header and hit TAB it expands. A little janky but works. Thanks.

[2022-06-21 17:34] DarinBeard commented on #61
Man, I have no idea how to yarn build this thing. I've never done it and I tried and I can't tell what to do with the output because it doesn't look anything like the build I downloaded.

[2022-06-21 17:37] DarinBeard opened #62 "feature request: ped drop down selector to have selection focus"
If I am choose a model, when I reopen the drop down it is scrolled all the way to the top with nothing selected. It would be really nice to have the current model selected and it scrolled to that spot so if you are looking for a model you don't have to scroll down and try to find where the last one was.

[2022-06-21 19:16] SpalenyBramborak commented on #61
[fivem-appearance.zip](https://github.com/pedr0fontoura/fivem-appearance/files/8952161/fivem-appearance.zip)

[2022-06-22 02:05] DarinBeard commented on #61
You are the man, thank you very much.

[2022-06-22 02:05] #61 closed

[2022-06-22 11:39] #59 closed

[2022-06-22 16:00] DarinBeard commented on #60
the build that [SpalenyBramborak](https://github.com/SpalenyBramborak) gave me fixed the issue

[2022-06-22 16:00] #60 closed

[2022-06-22 19:22] DarinBeard opened #63 "tattoos"
Am I just missing them or at tattoos not in there as of yet?

[2022-06-23 06:36] franfdezmorales commented on #63
Hello @DarinBeard, maybe you're using a wrong config, try this:

[code]

[2022-06-23 13:53] DarinBeard commented on #63
nope, totally my fault. It wasn't in my config. Thank you, guys, for being responsive. That's super cool.

This is an excellent resource that I've implemented on our server and got it saving to the database with a menu that allows management of multiple characters per player. So thank you for the great resource.

![fivem exe 2022 06 22 - 14 59 13 05 mp4_20220623_095127 633](https://user-images.git

[2022-06-24 08:12] #63 closed

[2022-06-28 00:33] ChurchTG7 opened #64 "unable to add new tattoos"
when i try to add new tattoos using the same

    {
        "name": "hair-32-4",
        "label": "hair-32-4",
        "hashMale": "MP_Security_Hair_000_M",
        "hashFemale": "MP_Security_Hair_000_F",
        "zone": "ZONE_HAIR",
        "collection": "mpSecurity_overlays"
    }

but change it for one of the tats i have from GTA5-mods.com

    {
        "name": "Yakuza Tat 1",
        "label":

[2022-06-28 20:11] badfantomasss commented on #47
When will it be finished ?

[2022-07-05 07:33] CodexisPhantom opened #66 "Show on dev mode"
Hello,
I fork your repo and want to modify it. How can I show the interface on the browser page ?

[2022-07-07 06:19] franfdezmorales commented on #64
Hey @ChurchTG7, `json` looks fine, maybe the problem is on how you stream the new tattoos.

[2022-07-08 14:15] jeffreyforce opened #67 "Selected hair fade by player is not saved or not correctly updated with loading saved PedAppearance to setPlayerAppearance."
Selected hair fade by player is not saved or not correctly updated with loading saved PedAppearance to setPlayerAppearance.

[2022-07-10 22:11] ChurchTG7 commented on #64
yea i figured as much just need to figure out why they aren't streaming correctly thanks anyways

[2022-07-12 06:27] franfdezmorales commented on #64
Thats perfect! I close this issue.

[2022-07-12 06:27] #64 closed

[2022-07-12 06:27] franfdezmorales commented on #67
Hi @jeffreyforce, could you pls provide more info about the error?

[2022-07-12 19:26] jeffreyforce commented on #67
If you select fade in the hair section, it just does not save permanently. It will save when you press it, but when you relog the fade is gone again and you need to select it over and over again.

[2022-07-12 19:38] jeffreyforce commented on #67
setr fivem-appearance:automaticFade 0 - this hair fade option does not save correctly to the skin data output.

[2022-07-14 19:04] 7Gogi77 opened #68 "Joining problem"
When players join my server for the first time, they cant create their skin, they're just invisible. Do I need to link it with esx_identity? If so, I would appreciate if someone comments me how to do it.

[2022-07-19 23:49] irineudores opened #69 "Resource optimization"
When opening the interface once, even after closing, it continues using cpu, as if it were in a loop. Is it possible to optimize this? Or at least I wanted to understand why stay in a loop when the system is not even being used

[2022-07-22 03:32] jaymxs opened #70 "Menu not coming up"
having an issue were clothing mneu isnt apearing at all can give ur self the menu though 911 admin and its just invisable and ur stick in the menu any suggestions would be great

[2022-07-24 21:48] TankinTom opened #71 "Default Characters at char select screen"
After logging in, making your character, saving them, logging out, and logging back in, at the char select screen, they're just the basic template users. the console is giving an error:
Script:qb-multicharacter SCRIPT ERROR: @qb-multicharacter/client/main/lua:137: No such export setPedAppearance in resource fivem-appearance

Any ideas?

[2022-07-24 22:29] #71 closed

[2022-09-02 16:04] franfdezmorales commented on #70
Hey @jaymxs, could you please add more information?

[2022-09-02 16:13] franfdezmorales commented on #69
Hey @irineudores, no loops are active when you dont use the resource. JS performance is worse (not a lot) than lua on FiveM, the resource itself consume 0.01 ms, talking about computing time, thats ridiculous.

[2022-09-02 16:13] #69 closed

[2022-09-02 19:02] #58 closed

[2022-09-02 19:02] #46 closed

[2022-09-04 19:18] esFer102 opened #72 "@fivem-appearance/server.lua:15: attempt to index a nil value (local 'xPlayer')"
This error shows me when I try to create a new character:
`@fivem-appearance/server.lua:15: attempt to index a nil value (local 'xPlayer')`

[2022-09-04 19:21] franfdezmorales commented on #72
Hey @esFer102!
Looks like an error with ESX, this resource is standalone so its not an issue about the script.

[2022-09-04 19:58] esFer102 commented on #72
Okey, I'll take a look. Thanks

[2022-09-04 20:08] #72 closed

[2022-09-05 03:00] Alexanderrr1206 opened #73 "Characters keep reseting when rejoining the server"
Pla help

[2022-09-08 10:12] franfdezmorales commented on #73
Hey @Alexanderrr1206, this resource offers an API to work with the skin character, you need to develop the system to save the character on db.

[2022-09-08 10:12] #73 closed

[2022-09-08 10:15] franfdezmorales commented on #68
Hey @7Gogi77, this resource is an API to manage the character skin, you will need to load the model correctly to make workable with fivem-apperance.

[2022-09-08 10:15] #68 closed

[2022-10-06 23:20] kangoka commented on #27
Hi, I know I'm a bit late but [here's the solution that I found](https://forum.cfx.re/t/release-fivem-appearance/2438537/161?u=kangoka)

[2022-10-29 01:37] Shotoki commented on #36
Was there ever a resolution for this?  i seem to be having a similiar issue, my vanilla peds are having this issue with the hair sticking like the above, however my custom peds are just having their entire heads messed up. I can link my bug report in QB if you need to see the issue.

[2022-10-30 11:55] JajarGaming opened #75 "Suggestion | Native clothing names"
This could be used to display clothing piece and texture names.

Data can be gathered from: https://github.com/root-cause/v-clothingnames

[2022-11-10 15:23] DarinBeard opened #76 "NPC models and options"
I get that NPC models are going to be different than MP models with what options are available. I just spawned in the fat male tourist and I know that he has different hair to choose from but none of the appearance options exist in the editor for him. Are they all disabled because it is not the MP model?

[2022-11-17 14:08] DarinBeard opened #77 "Tattoo data structure broken?"
So I grabbed the output from the editor with something in every option. I used that structure that the editor put out and tried to set the character appearance with that and it throws an error relating to tattoos. Something is wrong with the tattoo data structure between output and input. Is this a known issue?

[2022-11-17 14:51] DarinBeard commented on #77
I turned off tattoos in the config and it saves and loads fine without them. There seems to be a problem with the data back and forth with them. Are you still working on this project or have you moved on?

[2022-11-17 15:10] #77 closed

[2022-11-17 15:47] DarinBeard opened #78 "editor remembers tattoos of last edit"
if I edit a character and add tattoos or edit one with tattoos and save it. If I load another character into the editor, even if I make sure the tattoos data has no tattoos in it, it still remembers the last tattoo selections and applies them to the new character when saved. How can I clear what was there before so it doesn't propagate to a new character?

[2022-11-19 14:08] Shorizo93 opened #79 "bonjour je n'arrive pas a le mettre"
salut qui peut m'aider a le mettre mon discord : JULES#5705

[2022-11-27 23:58] stxrlite opened #81 "Not saving when i rejoin"
i create a character and when i rejoin it comes back anyone know how to fix this?

[2022-11-27 23:59] #81 closed